<style>
        html{background-color: rgb(217, 218, 161);}

        h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(160, 159, 85);
        text-align: center;}

        h3{font-family:Verdana, Geneva, Tahoma, sans-serif     ;
        color: rgb(235, 165, 36);
        text-align: center;}
        
        p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        text-align: justify;}

    
    </style>