<style>
        html{background-color: rgb(220, 231, 220);}

        h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(82, 143, 214);
        text-align: center;}

        h3{font-family:Verdana, Geneva, Tahoma, sans-serif     ;
        color: rgb(133, 129, 184);
        text-align: left;}
        
        p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        text-align: justify;}

    
    </style>