<style>
        html{background-color: rgb(142, 168, 142);}

        h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(78, 156, 58);
        text-align: center;}

        h3{font-family:Verdana, Geneva, Tahoma, sans-serif     ;
        color: rgb(85, 194, 158);
        text-align: left;}
        
        p{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        text-align: justify;}

    
    </style>